<section>

	<div data-ng-include="'partials/nav.html'"></div>

	<div class="container">
		<h3>My Artists</h3>
		<div class="inner-container">


		  <div id="venueLook" ng-show="!currentUser.isAdmin">
				<div id="venueContact">
					<!-- Firebase user info -->
					<h4>Venue: {{ currentUser.company }}</h4>
					<h5>Contact Info:</h5>
						<ul>
							<li>Phone: {{ currentUser.phone }}</li>
							<li>Email: {{ currentUser.email }}</li>
							<li>Address: {{ currentUser.address }}</li>
						</ul>
				</div><!-- contact -->
				<div id="venueList">
					<h4>Artist Riders</h4>
					<div ng-repeat="rider in userRiders">
						<a ng-href="#/viewArt/{{rider.id}}"> {{rider.name}} </a>	
					</div>												
				</div><!-- venueList -->
			</div> <!-- venueLook -->


			<div id="artManLook" ng-show="currentUser.isAdmin"> 
				<div id="artManContact">
					<!-- Firebase user info -->

					<h4>Artist Management: {{ currentUser.company }}</h4>
					<h5>Contact Info:</h5>
						<ul>
							<li>Phone: {{ currentUser.phone }}</li>
							<li>Email: {{ currentUser.email }}</li>
							<li>Address: {{ currentUser.address }}</li>
						</ul>
				</div><!-- contact -->
				<div id="artManList">
					<h4>Artist Riders</h4>
					<div ng-repeat="rider in userRiders">
						<!-- Look at reworking buttons to ng-click -->
						<a ng-href="#/viewArt/{{rider.id}}"> {{rider.name}} </a>
						<a ng-href="#/artEdit/{{rider.id}}/edit"><button>Edit</button></a>
					</div>				
				</div><!-- artManList -->	
				<a ng-href="#/createRider"><button>Create Rider</button></a>
			</div> <!-- artManLook -->
			

		</div><!-- inner-container -->
	</div>
	
</section>