<section>

	<div data-ng-include="'partials/nav.html'"></div>

	<div class="container">
		<h3 class="header">My Artists</h3>
		<div class="inner-container">


		  <div id="venueLook" ng-show="!currentUser.isAdmin">
		  	<div class="row">
					<div id="venueContact" class="card-panel amc">
						<!-- Firebase user info -->
						<div class="col s6">
							<h4>{{ currentUser.company }}</h4>
						</div>
						<div class="col s6">	
							<h5 class="contact">Contact Info:</h5>
							<ul>
								<li>Phone: {{ currentUser.phone }}</li>
								<li>Email: {{ currentUser.email }}</li>
								<li>Address: {{ currentUser.address }}</li>
							</ul>
						</div>		
					</div><!-- contact -->
				</div>	
				<div id="venueList">
					<h4 class="header">Artist Riders</h4>
					<div ng-repeat="rider in venueRiders" class="card-panel list" ng-class-odd="'odd'">
						<a class="artLink" ng-href="#/viewArt/{{rider.id}}">{{rider.name}}</a>
						<button class="artBtn right" ng-click="deleteVenue(rider.id)">Delete</button>	
					</div>												
				</div><!-- venueList -->
			</div> <!-- venueLook -->


			<div id="artManLook" ng-show="currentUser.isAdmin"> 
				<div class="row">
					<div id="artManContact" class="card-panel amc">
						<!-- Firebase user info -->
						<div class="col s6">
							<h4>{{ currentUser.company }}</h4>
						</div>
						<div class="col s6">	
							<h5 class="contact">Contact Info:</h5>
							<ul>
								<li>Phone: {{ currentUser.phone }}</li>
								<li>Email: {{ currentUser.email }}</li>
								<li>Address: {{ currentUser.address }}</li>
							</ul>
						</div>
					</div><!-- contact -->
				</div>
				<div id="artManList">
					<div class="row">
						<div class="col s6">
							<h4 class="header">Artist Riders</h4>
						</div>
						<div class="col s6 create">
							<a ng-href="#/createRider"><button class="logBtn right">Create Rider</button></a>
						</div>	
					</div>
					<div ng-repeat="rider in userRiders" class="card-panel list" ng-class-odd="'odd'">
						<a class="artLink" ng-href="#/viewArt/{{rider.id}}">{{rider.name}}</a>
						<a ng-href="#/artEdit/{{rider.id}}/edit"><button class="artBtn right">Edit</button></a>
					</div>				
				</div><!-- artManList -->	
			</div> <!-- artManLook -->
			
		</div><!-- inner-container -->
	</div>
	
</section>