<nav ng-controller="NavCtrl">
  <div class="nav-wrapper">
    <div class="container">
      <a href="#" class="brand-logo">Tour Connects</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">1</a></li>
        <li><a href="#" ng-click="logout()">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile">
        <h4>Tour Connects</h4>
        <li><a href="#">1</a></li>
        <li><a href="#" ng-click="logout()">Logout</a></li>
      </ul>      
    </div>
  </div>
</nav>