<div class="container">
	<h3>Registration:</h3>
	<a href="#/login">Back to Login</a>
	<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" ng-model="newUser.firstName">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" ng-model="newUser.lastName">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="company" type="text" class="validate" ng-model="newUser.company">
          <label for="company">Company</label>
        </div>
        <!-- Would like to change this out with dropdown -->
        <div class="input-field col s6">
          <input type="checkbox" id="venueReg" />
      		<label for="venueReg">Venue</label> 
          <input type="checkbox" id="amReg" />
      		<label for="amReg">Artist Management</label>       		
        </div>			       
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="address" type="text" class="validate" ng-model="newUser.address">
          <label for="address">Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="phone" type="text" class="validate" ng-model="newUser.phone">
          <label for="phone">Phone</label>
        </div>
      </div>      
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" ng-model="newUser.email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" ng-model="password">
          <label for="password">Password</label>
        </div>
      </div>
    </form>
  </div>

	<button ng-click="save()">Save Info</button>

</div> <!-- container -->