<section>

	<div data-ng-include="'partials/nav.html'"></div>

	<div class="container">
		<h3 class="header">Search Artists</h3>
		<input id="search" type="text" placeholder="Find an artist..." ng-model="findRider" ng-focus="true" />
		<div ng-repeat="rider in riders | orderBy: 'name' | filter: findRider" class="card-panel list" ng-class-odd="'odd'">
			<!-- Need to link Artist name to viewArt -->
			<a class="artLink" ng-href="#/viewArt/{{rider.id}}"> {{rider.name}} </a>
			<!-- ng-click path and id -->
		</div>
	</div>

</section>