<section>
	<div data-ng-include="'partials/nav.html'"></div>
  <div class="container">    
    <div id="read">
      <h3>Artist View</h3>
      <!-- <div class="row"> -->

      <div class="venueView" ng-show="!currentUser.isAdmin">
        <div>{{currentVenRider.name}}</div>
        <div>{{currentVenRider.genre}}</div>
        <div>{{currentVenRider.riderDate}}</div>
        <div>{{currentVenRider.tourContact}}</div>
        <div>{{currentVenRider.phone}}</div>
        <div>{{currentVenRider.email}}</div>
        <div>{{currentVenRider.lodging}}</div>
        <div>{{currentVenRider.backline}}</div>
        <div>{{currentVenRider.audio}}</div>
        <div>{{currentVenRider.lighting}}</div>
        <div>{{currentVenRider.stage}}</div>
        <div>{{currentVenRider.schedule}}</div> 
        <div>{{currentVenRider.showRun}}</div>
        <div>{{currentVenRider.dressingRoom}}</div>
        <div>{{currentVenRider.catering}}</div>
        <div>{{currentVenRider.security}}</div>
        <div>{{currentVenRider.tickets}}</div>          
      </div>

      <div class="artManView" ng-show="currentUser.isAdmin">
        <div>{{currentRider.name}}</div>
        <div>{{currentRider.genre}}</div>
        <div>{{currentRider.riderDate}}</div>
        <div>{{currentRider.tourContact}}</div>
        <div>{{currentRider.phone}}</div>
        <div>{{currentRider.email}}</div>
        <div>{{currentRider.lodging}}</div>
        <div>{{currentRider.backline}}</div>
        <div>{{currentRider.audio}}</div>
        <div>{{currentRider.lighting}}</div>
        <div>{{currentRider.stage}}</div>
        <div>{{currentRider.schedule}}</div> 
        <div>{{currentRider.showRun}}</div>
        <div>{{currentRider.dressingRoom}}</div>
        <div>{{currentRider.catering}}</div>
        <div>{{currentRider.security}}</div>
        <div>{{currentRider.tickets}}</div>                
      </div>

        <!-- Possibly move this to top -->
        <!-- Show this button on !isAdmin viewArtist.html.   -->
        <div ng-show="!currentUser.isAdmin">
          <button ng-click="addVenToRider(currentUser.uid)">Add</button>
        </div>
      <!-- </div>  -->
    </div>    
  </div> <!-- container -->
</section>	