<section>

	<div data-ng-include="'partials/nav.html'"></div>

  <div class="container">
    <h3>Artist View</h3>
<!--     <div ng-repeat="rider in artistEdit"> -->
      <div class="row">
      <form class="col s12" name="editForm">
        <div class="row">
          <div class="input-field col s6">
            <input ng-model="rider.name" id="artist" type="text" class="validate" tabindex="0" autofocus="true">
            <label class="active" for="artist">Artist:</label>
          </div>
          <div class="input-field col s6">
            <input ng-model="rider.genre" id="genre" type="text" class="validate">
            <label class="active" for="genre">Genre:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input ng-model="rider.riderDate" id="riderDate" type="text" class="validate">
            <label class="active" for="date">Date:</label>
          </div>
          <div class="input-field col s6">
            <input ng-model="rider.tourContact" id="tourContact" type="text" class="validate">
            <label class="active" for="contact">Tour Contact</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input ng-model="rider.phone" id="phone" type="text" class="validate">
            <label class="active" for="phone">Phone:</label>
          </div>
          <div class="input-field col s6">
            <input ng-model="rider.email" id="email" type="text" class="validate">
            <label class="active" for="email">Email:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea ng-model="rider.lodging" id="lodging" class="materialize-textarea"></textarea>
            <label class="active" for="lodging">Lodging:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea ng-model="rider.backline" id="backline" class="materialize-textarea"></textarea>
            <label class="active" for="backline">Backline:</label>
          </div>
        </div> 
        <div class="row">
          <div class="input-field col s12">
            <textarea ng-model="rider.audio" id="audio" class="materialize-textarea"></textarea>
            <label class="active" for="audio">Audio:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea ng-model="rider.lighting" id="lighting" class="materialize-textarea"></textarea>
            <label class="active" for="lighting">Lighting:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea ng-model="rider.stage" id="stage" class="materialize-textarea"></textarea>
            <label class="active" for="stage">Stage:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea ng-model="rider.schedule" id="schedule" class="materialize-textarea"></textarea>
            <label class="active" for="schedule">Schedule:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea ng-model="rider.showRun" id="showRun" class="materialize-textarea"></textarea>
            <label class="active" for="showRun">Show Run:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea ng-model="rider.dressingRoom" id="dressingRoom" class="materialize-textarea"></textarea>
            <label class="active" for="dressingRoom">Dressing Room:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea ng-model="rider.catering" id="catering" class="materialize-textarea"></textarea>
            <label class="active" for="catering">Catering:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea ng-model="rider.security" id="security" class="materialize-textarea"></textarea>
            <label class="active" for="security">Security:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea ng-model="rider.tickets" id="tickets" class="materialize-textarea"></textarea>
            <label class="active" for="tickets">Tickets:</label>
          </div>
        </div>
        <div>
        	<!-- Update Icon -->
          <button ng-click="addRider()">Add Rider
          </button>                                
        </div>
      </form>
      </div> 
   <!--  </div>  -->    
  </div> 

</section>	