<section>
	<div data-ng-include="'partials/nav.html'"></div>
  <div class="container">    
    <div id="read">
      <h3>Artist View</h3>
      <div class="row">
        <form class="col s12" name="editForm">
          <div class="row">
            <div class="input-field col s6">
              <input id="artist" type="text" class="validate readonlyInput" value="{{currentRider.name}}" ng-readonly="true">
              <label class="active" for="artist">Artist:</label>
            </div>
            <div class="input-field col s6">
              <input id="genre" type="text" class="validate" value="{{currentRider.genre}}" ng-readonly="true">
              <label class="active" for="genre">Genre:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="riderDate" type="text" class="validate" value="{{currentRider.riderDate}}" ng-readonly="true">
              <label class="active" for="date">Date:</label>
            </div>
            <div class="input-field col s6">
              <input id="tourContact" type="text" class="validate" value="{{currentRider.tourContact}}" ng-readonly="true">
              <label class="active" for="contact">Tour Contact</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="phone" type="text" class="validate" value="{{currentRider.phone}}" ng-readonly="true">
              <label class="active" for="phone">Phone:</label>
            </div>
            <div class="input-field col s6">
              <input id="email" type="text" class="validate" value="{{currentRider.email}}" ng-readonly="true">
              <label class="active" for="email">Email:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="lodging" class="materialize-textarea"  value="{{currentRider.lodging}}" ng-readonly="true"></textarea>
              <label class="active" for="lodging">Lodging:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="backline" class="materialize-textarea" value="{{currentRider.backline}}" ng-readonly="true"></textarea>
              <label class="active" for="backline">Backline:</label>
            </div>
          </div> 
          <div class="row">
            <div class="input-field col s12">
              <textarea id="audio" class="materialize-textarea" value="{{currentRider.audio}}" ng-readonly="true"></textarea>
              <label class="active" for="audio">Audio:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="lighting" class="materialize-textarea" value="{{currentRider.lighting}}" ng-readonly="true"></textarea>
              <label class="active" for="lighting">Lighting:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="stage" class="materialize-textarea" value="{{currentRider.stage}}" ng-readonly="true"></textarea>
              <label class="active" for="stage">Stage:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="schedule" class="materialize-textarea" value="{{currentRider.schedule}}" ng-readonly="true"></textarea>
              <label class="active" for="schedule">Schedule:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="showRun" class="materialize-textarea" value="{{currentRider.showRun}}" ng-readonly="true"></textarea>
              <label class="active" for="showRun">Show Run:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="dressingRoom" class="materialize-textarea" value="{{currentRider.dressingRoom}}" ng-readonly="true"></textarea>
              <label class="active" for="dressingRoom">Dressing Room:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="catering" class="materialize-textarea" value="{{currentRider.catering}}" ng-readonly="true"></textarea>
              <label class="active" for="catering">Catering:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="security" class="materialize-textarea" value="{{currentRider.security}}" ng-readonly="true"></textarea>
              <label class="active" for="security">Security:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="tickets" class="materialize-textarea" value="{{currentRider.tickets}}" ng-readonly="true"></textarea>
              <label class="active" for="tickets">Tickets:</label>
            </div>
          </div>
        </form>
      </div> 
    </div>    
  </div> <!-- container -->
</section>	