<section>
	<div data-ng-include="'partials/nav.html'"></div>
  <div class="container">    
    <div id="read">
      <h3 class="header">Artist View</h3>
      <!-- <div class="row"> -->

      <div class="venueView" ng-show="!currentUser.isAdmin">
        <!-- Add Spotify Stuff with Materialize -->
        <!-- Put a class on this to manage size -->
        <!-- <img ng-src="{{currentVenArtist.artists.items[0].images[1].url}}">         -->
        <!-- <img ng-src="{{currentArtist.artists.items[0].images[1].url}}"> -->
        <div>Artist: {{currentVenRider.name}}</div>
        <div>Genre: {{currentVenRider.genre}}</div>
        <div>Date: {{currentVenRider.riderDate}}</div>
        <div>Tour Contact:{{currentVenRider.tourContact}}</div>
        <div>Phone: {{currentVenRider.phone}}</div>
        <div>Email: {{currentVenRider.email}}</div>
        <div>Lodging: {{currentVenRider.lodging}}</div>
        <div>Backline: {{currentVenRider.backline}}</div>
        <div>Audio: {{currentVenRider.audio}}</div>
        <div>Lighting: {{currentVenRider.lighting}}</div>
        <div>Stage: {{currentVenRider.stage}}</div>
        <div>Schedule: {{currentVenRider.schedule}}</div> 
        <div>Show Run: {{currentVenRider.showRun}}</div>
        <div>Dressing Room: {{currentVenRider.dressingRoom}}</div>
        <div>Catering: {{currentVenRider.catering}}</div>
        <div>Security: {{currentVenRider.security}}</div>
        <div>Tickets: {{currentVenRider.tickets}}</div>          
      </div>

<!--       <div class="artManView" ng-show="currentUser.isAdmin"> -->
      <div class="artManView" ng-show="currentUser.isAdmin || currentPath === #/viewArt/{{rider.id}}">      
        <div>Artist: {{currentRider.name}}</div>
        <!-- Put a class on this to manage size -->
        <!-- <img ng-src="{{currentArtist.artists.items[0].images[1].url}}"> -->
        <div>Genre: {{currentRider.genre}}</div>
        <div>Date: {{currentRider.riderDate}}</div>
        <div>Tour Contact:{{currentRider.tourContact}}</div>
        <div>Phone: {{currentRider.phone}}</div>
        <div>Email: {{currentRider.email}}</div>
        <div>Lodging: {{currentRider.lodging}}</div>
        <div>Backline: {{currentRider.backline}}</div>
        <div>Audio: {{currentRider.audio}}</div>
        <div>Lighting: {{currentRider.lighting}}</div>
        <div>Stage: {{currentRider.stage}}</div>
        <div>Schedule: {{currentRider.schedule}}</div>
        <div>Show Run: {{currentRider.showRun}}</div>
        <div>Dressing Room: {{currentRider.dressingRoom}}</div>
        <div>Catering: {{currentRider.catering}}</div>
        <div>Security: {{currentRider.security}}</div>
        <div>Tickets: {{currentRider.tickets}}</div>                
      </div>

        <!-- Possibly move this to top -->
        <!-- Hide this if in Venue list.  How?? -->

        <!-- Hide if artist is in MyArtist Array -->
      <div ng-show="!currentUser.isAdmin">
        <button ng-click="addVenToRider(currentUser.uid)">Add</button>
      </div>
     
    </div> <!-- Read  -->  
  </div> <!-- container -->
</section>	